<div class="container">
  <h1>Add Confessions</h1>
  <div class="form">
    <input type="text" name="message" placeholder="Confess..." #conMessage>
    <button (click)="addConfession($event, conMessage)" class="btn btn-primary btn-save">Save</button>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6" *ngFor="let con of confessions">
      <div class="card">
        <div class="message">
          <h3>{{con.message}}</h3>
           by <span class="name">{{con.name}}</span>
        </div>
        <button (click)="deleteCon(con)" class="btn btn-block">Delete</button>
      </div>
    </div>
  </div>
</div>